.container {
  position: relative;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  background-color: #eaeff2;
  .title {
    width: 100%;
    height: 5%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    background-color: #36bb7c;
    span {
      font-size: medium;
      font-weight: 500;
      color: #ffffff;
      display: flex;
      margin: auto;
      height: 100%;
      align-items: center;
      width: 98%;
    }
  }
  .container-2 {
    display: flex;
    flex-direction: column;
    width: 99%;
    height: 95%;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    .button {
      display: flex;
      flex-direction: row;
      height: 12%;
      width: 100%;
      padding-left: 1.5%;
      gap: 2%;
      div {
        display: flex;
        align-items: center;
        button {
          color: white;
          font-size: medium;
          border-radius: 7px;
          span {
            display: flex;
            mat-icon {
              color: white;
              margin: auto;
            }
          }
        }
      }
      .add-employee-button {
        button {
          background-color: #d96f0c;
        }
      }
      .add-default-calendar-button {
        button {
          background-color: #0b8266;
        }
      }
      .assign-permission {
        position: relative;
        button {
          background-color: #0068a3;
        }
      }
    }
    .employee {
      width: 97%;
      margin: 0 auto;
      .employee-table {
        // box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19),
        //   0 6px 6px rgba(0, 0, 0, 0.23);
        border: 1px solid rgb(221, 212, 212);
        border-bottom: none !important;
        width: 100%;
        mat-paginator {
          color: black;
          font-size: small;
        }
        td {
          padding-right: 1%;
        }
        .header {
          text-align: center;
        }
        .id {
          width: 7%;
        }

        .mat-header-cell.mat-column-select,
        .mat-cell.mat-column-select {
          width: 5%;
        }
        .mat-header-cell.mat-column-id,
        .mat-cell.mat-column-id {
          width: 5%;
        }
        .mat-header-cell.mat-column-fullname,
        .mat-cell.mat-column-fullname {
          width: 15%;
        }
        .mat-header-cell.mat-column-email,
        .mat-cell.mat-column-email {
          width: 20%;
          margin-right: 5%;
          text-overflow: ellipsis;
          overflow: hidden;
        }
        .mat-header-cell.mat-column-shift,
        .mat-cell.mat-column-shift {
          width: 10%;
          div {
            display: flex;
            align-items: center;
            gap: 10%;
            span {
              font-weight: 500;
            }
            .circle-icon {
              display: inline-block;
              width: 15px;
              height: 15px;
              border-radius: 50%;
            }
          }
          .morning {
            span {
              color: #b69812;
            }
            .circle-icon {
              background-color: #ae900b;
            }
          }
          .afternoon {
            span {
              color: #c34a12;
            }
            .circle-icon {
              background-color: #c34a12;
            }
          }
          .fulltime {
            span {
              color: rgb(16, 140, 115);
            }
            .circle-icon {
              background-color: rgb(16, 140, 115);
            }
          }
          .unassigned {
            span {
              color: #9a9895;
            }
            .circle-icon {
              background-color: #b9b5b2;
            }
          }
        }
        .mat-header-cell.mat-column-view,
        .mat-cell.mat-column-view {
          width: 8%;
          span {
            display: flex;
            align-items: center;
            gap: 5%;
            color: rgb(16, 140, 115);
            text-decoration: underline;
          }
        }
        .mat-header-cell.mat-column-address,
        .mat-cell.mat-column-address {
          width: 22%;
        }
        .mat-header-cell.mat-column-managerFlag,
        .mat-cell.mat-column-managerFlag {
          width: 7%;
        }
        .mat-header-cell.mat-column-imagePath,
        .mat-cell.mat-column-imagePath {
          width: 5%;
          padding-right: 1% !important;
          div {
            display: flex;
            align-items: center;
            .profile-image {
              width: 80%;
              height: 80%;
            }
          }
        }
        .mat-header-cell.mat-column-effectiveDate,
        .mat-cell.mat-column-effectiveDate {
          width: 8%;
        }
        .mat-header-cell.mat-column-eventHosterFlag,
        .mat-cell.mat-column-eventHosterFlag {
          width: 5%;
          div {
            display: flex;
            justify-content: center;
          }
        }
        .mat-header-cell.mat-column-managerFlag,
        .mat-cell.mat-column-managerFlag {
          width: 5%;
          div {
            display: flex;
            justify-content: center;
          }
        }
        .mat-header-cell.mat-column-createPublicEventFlag,
        .mat-cell.mat-column-createPublicEventFlag {
          width: 5%;
          div {
            display: flex;
            justify-content: center;
          }
        }
      }
      .mat-checkbox-frame {
        border-color: #ff0000; /* replace with desired border color */
      }
    }
  }

  .template {
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      text-decoration: underline;
      font-size: medium;
      font-weight: 500;
      color: blue;
    }
  }
  .list-employee {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-size: medium;
    display: flex;
    flex-direction: column;
    user-select: none;
    height: 30%;
    width: 100%;
    justify-content: center;
    gap: 2%;
    label {
      font-weight: 600;
      color: rgb(0, 0, 0);
      margin: auto;
    }
    .import-button {
      display: flex;
      justify-content: center;
      button {
        background-color: #0e9974;
        color: white;
        font-size: medium;
        border-radius: 7px;
      }
    }
    input {
      border-radius: 8px;
      border: 2px solid rgb(221, 212, 212);
      height: 20%;
      width: 90%;
      margin: auto;
      user-select: none;
      border: 2px solid #0e9974;
      color: #0e9974;
    }
  }
  .default-calendar {
    width: 100%;
    height: 100%;
    .custom-textfield {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
      font-size: medium;
      display: flex;
      flex-direction: column;
      user-select: none;
      height: 15%;
      width: 100%;
      margin-top: 5%;
      justify-content: center;
      label {
        font-weight: 600;
        color: rgb(99, 97, 97);
        margin-left: 5%;
      }
      input {
        border-radius: 8px;
        border: 2px solid rgb(221, 212, 212);
        height: 50%;
        width: 90%;
        margin: auto;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
      }
    }
    .start-time {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 20%;
      span {
        font-weight: 500;
        color: rgb(99, 97, 97);
        margin-left: 5%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
          Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
          sans-serif;
        font-size: medium;
      }
      mat-form-field {
        width: 92%;
        margin: auto;
      }
    }
  }
  .sidenav {
    position: relative;
    z-index: 100;
    ::ng-deep .mat-drawer-container {
      z-index: 100;
    }
    .assign-schedule-title {
      height: 8%;
      display: flex;
      align-items: center;
      justify-content: center;
      span {
        font-size: large;
        font-weight: 500;
      }
    }
    .schedule {
      height: fit-content;
      padding: 3%;
      mat-card {
        display: flex;
        width: 100%;
        height: 100%;
        mat-card-content {
          width: 100%;
          height: 100%;
          background-color: rgb(255, 255, 255);
          border-radius: 5px;
          .title {
            padding: 2%;
            width: fit-content;
            margin: 2%;
            border-radius: 5px;
            .span {
              font-weight: 400;
              font-size: large;
            }
          }
          .time-duration {
            display: flex;
            align-items: center;
            gap: 1%;
            padding: 1%;
            margin: 2%;
            span {
              font-weight: 400;
              font-size: medium;
            }
          }
        }
      }
    }
    .morning-work {
      mat-card {
        mat-card-content {
          border: 1px solid #ffd86f;
          .title {
            background-color: #ffefc3;
            span {
              color: #b69812;
            }
            ::ng-deep .mat-checkbox-frame {
              border: 1px solid #b69812;
            }
          }
        }
      }
    }
    .afternoon-work {
      mat-card {
        mat-card-content {
          border: 1px solid #e99771;
          .title {
            background-color: #ffd2be;
            span {
              color: #c34a12;
            }
            ::ng-deep .mat-checkbox-frame {
              border: 1px solid #c34a12;
            }
          }
        }
      }
    }
    .fulltime-work {
      mat-card {
        mat-card-content {
          border: 1px solid #10c192;
          .title {
            background-color: #c1eee2;
            span {
              color: rgb(16, 140, 115);
            }
            ::ng-deep .mat-checkbox-frame {
              border: 1px solid rgb(16, 140, 115);
            }
          }
        }
      }
    }
    .confirm-button {
      height: fit-content;
      padding: 3%;
      display: flex;
      align-items: center;
      justify-content: center;
      button {
        color: #ffffff;
        background-color: #23a669;
      }
    }
  }
  .mat-sidenav {
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    width: 25%;
  }
  .add-button {
    height: 10%;
    width: 60%;
    border-radius: 7px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    margin: auto;
    button {
      height: 50%;
      border-radius: 7px;
    }
  }
}

.overlay {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #8c8c8c;
  opacity: 0.5; /* set opacity as desired */
  z-index: 99; /* set z-index as desired */
  display: none;
  /* additional styles for overlay */
}

.overlay-active {
  display: block;
}

.sidenav-active {
  transform: translateX(0);
}

::ng-deep .mat-menu-permissions {
  position: absolute;
  top: -2.25rem;
  left: 12.5rem;
  max-width: 30rem;
  width: 30rem;
  min-height: 10rem;
  height: 10rem;
  display: flex;
  .mat-menu-content {
    padding: 10px;
    display: flex;
    height: 100%;
    width: 100%;
    mat-radio-group {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      justify-content: space-between;
      div {
        height: fit-content;
        width: 100%;
        mat-radio-button {
          height: fit-content;
          width: 100%;
          display: flex;
          flex-direction: column;
          .mat-radio-container {
            margin-top: -35px !important;
          }
          .mat-radio-label-content {
            height: fit-content;
            width: 95%;
            white-space: normal;
            display: flex;
            flex-direction: column;
            .option {
              font-weight: 500;
              color: rgb(16, 140, 115);
              text-transform: uppercase;
              font-size: medium;
            }
          }
        }
        mat-radio-button.disabled {
          ::ng-deep .mat-radio-outer-circle {
            background-color: #ded0d0;
          }
        }
      }
    }
  }
}
