<app-layout></app-layout>
<div class="container">
  <div class="container2">
    <div class="title">
      <span>
        Book Slots
      </span>
    </div>
    <div class="provide-information">
      <span style="font-weight: 500; color: rgba(15, 4, 165, 0.651); font-size: medium;">
        Please type your email for booking slot.
      </span>
      <input type="text" placeholder="Type your email" [(ngModel)]="partnerEmail">
    </div>
    <div class="events-grid-container">
      <div class="events-grid-item" *ngFor="let element of publicBookingSlots.timeDatas, let index = index">
        <mat-card>
          <mat-card-content appMaterialElevation>
            <img src="https://res.cloudinary.com/dzri3e9wa/image/upload/v1683194746/website-image/interview_ll0mzx.jpg"
              alt="">
            <span class="date">
              <mat-icon style="color: #23a669;;">date_range</mat-icon>
              {{bookDay}}
            </span>
            <span class="event-name">
              {{element.freetimeType}}
            </span>
            <span class="time">
              <mat-icon style="color:#23a669;">alarm</mat-icon>
              {{element.startTime}} - {{element.endTime}}
            </span>
            <span class="button-join">
              <button mat-raised-button class='book-button' (click)="onClickJoinPublicEventBookingSlot(element, index)">
                BOOK </button>
            </span>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
<app-bottom-nav></app-bottom-nav>