.container {
  width: 81.25vw;
  height: fit-content;
  background-color: #eaeff2;
  display: flex;
  justify-content: center;
  padding-top: 1.25rem;
  padding-bottom: 1.25rem;
  min-height: 100vh;
  .booking-resource {
    width: 97%;
    height: fit-content;
    margin: auto;
    mat-card {
      mat-card-content {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;
        border-radius: 10px;
        .header {
          width: 100%;
          height: 10%;
          display: flex;
          span {
            font-size: x-large;
            font-weight: 500;
            margin: 1.5%;
          }
        }
        .booking-info {
          display: flex;
          gap: 5%;
          height: fit-content;
          width: 100%;
          mat-card {
            width: 100%;
            mat-card-content {
              display: flex;
              position: relative;
              flex-direction: column;
              width: 97%;
              gap: 3%;
              height: fit-content;
              margin: auto;
              background-color: rgba(234, 242, 234, 0.53);
              .event-resource {
                display: flex;
                flex-direction: row;
                height: 75%;
                .select {
                  display: flex;
                  flex-direction: column;
                  gap: 1rem;
                  // margin: 2% 8% 2% 0;
                  margin: 0.75rem 1rem 0rem 1rem;
                  height: 8rem;
                  font-family: system-ui, -apple-system, BlinkMacSystemFont,
                    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
                    "Helvetica Neue", sans-serif;
                  font-size: large;
                  font-weight: 500;
                  ::ng-deep
                    .mat-form-field-appearance-fill
                    .mat-form-field-flex {
                    background-color: rgb(255, 255, 255);
                    border: 2px solid #23a669;
                    border-radius: 5px;
                  }
                  ::ng-deep .mat-form-field-underline {
                    display: none;
                  }
                  ::ng-deep .mat-form-field-wrapper {
                    padding-bottom: 0 !important;
                  }
                  mat-select {
                    user-select: none;
                  }
                  mat-form-field {
                    width: 100%;
                  }
                }
                .resource-type {
                  width: 17rem;
                  .example-additional-selection {
                    opacity: 0.75;
                    font-size: 0.75em;
                  }
                  mat-icon {
                    color: #23a669;
                  }
                }
                .resource-list {
                  width: 30rem;
                  .example-additional-selection {
                    opacity: 0.75;
                    font-size: 0.75em;
                  }
                }

                .check {
                  display: flex;
                  align-items: center;
                  padding: 2%;
                  ::ng-deep .mat-checkbox-frame {
                    border-color: #23a669;
                  }
                }
                .schedule-button {
                  display: flex;
                  position: absolute;
                  height: fit-content;
                  margin-top: 1%;
                  right: 1%;
                  gap: 5%;
                  button {
                    color: white;

                    border-radius: 5px;
                    width: 8rem;
                  }
                  .add-resource {
                    background-color: rgb(39, 178, 39);
                  }
                  .book {
                    background-color: rgb(196, 71, 18);
                  }
                }
              }

              .event-option {
                display: flex;
                flex: 1;
                form {
                  display: flex;
                  flex-direction: column;
                  padding-left: 1rem;
                  padding-bottom: 1rem;
                  mat-radio-group {
                    display: flex;
                    flex-direction: column;
                    gap: 1.25rem;
                    font-size: medium;
                    font-weight: 500;
                    color: #6b6b6b;
                  }
                }
              }
            }
          }
        }
        .event {
          display: flex;
          height: fit-content;
          padding: 1.5%;
          mat-card {
            width: 100%;
            mat-card-content {
              width: 100%;
              min-height: 80px;
              background-color: rgba(234, 242, 234, 0.53);
              .event-data {
                height: 100%;
                .unavailable-event {
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  flex-direction: column;
                  padding-top: 3%;
                  span {
                    font-weight: 500;
                    font-size: x-large;
                  }
                  .image {
                    height: 300px;
                    width: fit-content;
                  }
                }
                .event-grid-container {
                  display: grid;
                  grid-template-columns: repeat(3, 1fr);
                  grid-auto-rows: calc(20vw);
                  gap: 20px;
                  padding-top: 1rem;
                  padding-bottom: 1rem;
                  .event-card {
                    height: 100%;
                    mat-card {
                      mat-card-content {
                        display: flex;
                        gap: 2%;
                        background-color: white;
                        img {
                          height: 60%;
                          width: 100%;
                          border-top-right-radius: 10px;
                          border-top-left-radius: 10px;
                        }
                        span {
                          width: 90%;
                          margin: 0 auto;
                          display: flex;
                          align-items: center;
                          gap: 1%;
                        }
                        .title {
                          font-size: large;
                          font-weight: 500;
                        }
                        .date {
                          font-size: medium;
                          font-weight: 400;
                        }
                        .time {
                          font-size: medium;
                          font-weight: 400;
                        }
                        .status {
                          font-size: medium;
                          font-weight: 400;
                        }
                        button {
                          width: 95%;
                          margin: auto;
                        }
                      }
                    }
                  }
                }
              }
              mat-tab-group {
                min-height: 100%;
                padding-left: 2%;
                padding-right: 2%;
              }
            }
          }
        }
        .booking-sidenav {
          .mat-sidenav {
            position: fixed;
            right: 0;
            top: 0;
            bottom: 0;
            width: 35%;
            .close-icon {
              font-size: 30px;
              color: #24931e;
              margin-left: 10px;
              margin-top: 10px;
              cursor: pointer;
            }
            .selected-day {
              display: flex;
              justify-content: center;
              span {
                display: flex;
                align-items: center;
              }
              .current-week {
                font-weight: 500;
                font-size: large;
              }
              // .previous-week {
              //   text-decoration: underline;
              // }
              // .next-week {
              //   text-decoration: underline;
              // }
              mat-form-field {
                width: 0% !important;
              }
              ::ng-deep .mat-raised-button {
                min-width: none;
                padding: 0;
              }
            }
            .weekday {
              display: flex;
              flex-direction: row;
              justify-content: space-around;
              button {
                display: flex;
                flex-direction: column;
                width: 100%;
                border-radius: 7px;
                .button-day {
                  width: 100%;
                  border-top-left-radius: inherit;
                  border-top-right-radius: inherit;
                  background-color: rgb(237, 230, 230);
                  font-size: medium;
                  font-weight: 500;
                }
                .button-weekday {
                  font-weight: 400;
                  font-size: small;
                }
              }
              .date-click-event {
                .button-day {
                  background-color: #23a669;
                  color: white;
                  border-top-left-radius: initial;
                  border-top-right-radius: initial;
                }
                .button-weekday {
                  color: #23a669;
                }
                border: 1.75px solid #23a669;
              }
            }
            .booking-resource-info {
              height: 35%;
              padding: 2%;
              form {
                display: flex;
                flex-direction: column;
                gap: 0.5rem;
                height: 100%;
                .row1 {
                  display: flex;
                  flex-direction: column;
                  gap: 0.5rem;
                  user-select: none;
                  flex: 1;
                  padding-left: 2%;
                  padding-right: 2%;
                  label {
                    font-weight: 500;
                    font-size: medium;
                  }
                  input {
                    border-radius: 5px;
                    border: 2px solid rgb(221, 212, 212);
                    padding-left: 2%;
                    padding-right: 2%;
                    margin: auto;
                    height: 100%;
                    width: 100%;
                  }
                }
                .row2 {
                  display: flex;
                  flex-direction: row;
                  flex: 1;
                  div {
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                    gap: 0.5rem;
                    padding-left: 0.5rem;
                    padding-right: 0.5rem;
                    label {
                      font-weight: 500;
                      font-size: medium;
                    }
                    ::ng-deep .mat-form-field-underline {
                      display: none;
                    }
                    ::ng-deep .mat-form-field-appearance-fill {
                      .mat-form-field-flex {
                        background-color: rgb(255, 255, 255);
                        border-radius: 5px;
                        border: 2px solid rgb(221, 212, 212);
                        padding-top: 0;
                      }
                    }
                    ::ng-deep
                      .mat-form-field-appearance-fill
                      .mat-select-arrow-wrapper {
                      transform: translateY(0);
                    }
                    ::ng-deep .mat-form-field-wrapper {
                      padding-bottom: 0 !important;
                    }
                    input {
                      border-radius: 5px;
                      border: 2px solid rgb(221, 212, 212);
                      margin: auto;
                      height: 100%;
                      width: 100%;
                      padding-left: 3%;
                      padding-right: 3%;
                    }
                    .input {
                      height: 95%;
                    }
                  }
                }
              }
            }
            .booking-slot {
              padding: 3%;
              .unavailable {
                border: 2px solid rgb(221, 212, 212);
                height: 10rem;
                justify-content: center;
                display: flex;
                align-items: center;
                border-radius: 5px;
                font-size: large;
                font-weight: 500;
                width: 85%;
                margin: auto;
              }
              .slots-grid-container {
                margin-top: 3%;
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                gap: 20px;
              }

              mat-card {
                mat-card-content {
                  height: 3.5rem;
                  width: 8rem;
                  display: flex;
                  border: 2px solid rgb(221, 212, 212);
                  background-color: rgb(250, 248, 248);
                  border-radius: 7px;
                  span {
                    font-size: medium;
                    text-align: center;
                    font-weight: 500;
                    margin: auto;
                  }
                }
                .selected-booking-slot {
                  background-color: #23a669;
                  color: rgb(255, 255, 255);
                  border: 2px solid #23a669;
                }
                mat-card-content:hover {
                  background-color: #23a669;
                  color: white;
                  border: 2px solid #23a669;
                }
              }
            }
          }
        }

        .generate-external-slot {
          .booking-resource-info {
            height: 20%;
          }
        }

        .confirm-booking-sidenav {
          .mat-sidenav {
            position: fixed;
            right: 0;
            bottom: 0;
            width: 35%;
            height: 60%;
            transform: translateY(100%);
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            .close-icon {
              font-size: 30px;
              color: #24931e;
              margin-left: 10px;
              margin-top: 10px;
              cursor: pointer;
            }
          }
          ::ng-deep .mat-drawer {
            top: auto !important;
          }
          .booking-information {
            height: 85%;
            padding: 5%;
            display: flex;
            flex-direction: column;
            padding-top: 0 !important;
            .title {
              font-weight: 500;
              height: 10%;
              font-size: large;
              display: flex;
              justify-content: center;
              align-items: center;
            }
            .detail {
              display: flex;
              flex-direction: column;
              height: 80%;
              div {
                flex: 1;
                display: flex;
                gap: 1%;
                align-items: center;
                mat-icon {
                  color: #069545;
                }
                font-size: medium;
              }
              .event-name {
                text-transform: uppercase;
                font-weight: 500;
              }
            }
            .confirm-button {
              display: flex;
              justify-content: center;
              button {
                background-color: #069545;
                color: white;
              }
            }
          }
        }

        .reschedule-booking-sidenav {
          .mat-sidenav {
            height: 50% !important;
          }
        }
      }
    }
  }
}

.resource-list-type-header {
  display: flex;
  align-items: center;
  padding-left: 2%;
  gap: 2%;
  height: 3rem;
  mat-icon {
    color: #23a669;
  }
  font-weight: 500;
}
.resource-content {
  // display: flex;
  ::ng-deep mat-option .mat-option-text {
    display: flex !important;
    justify-content: space-between;
    mat-icon {
      margin-top: 15px;
      margin-right: 0 !important;
    }
  }
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid-element {
  overflow: hidden;
  text-overflow: ellipsis;
}
.border-bottom-line {
  border-bottom: 1px solid rgb(175, 168, 168);
}

::ng-deep .mat-tooltip-style {
  background-color: rgb(21, 111, 56);
  user-select: none;
  font-size: medium;
}
::ng-deep .event-type-mat-tooltip-style {
  background-color: rgb(41, 81, 56);
  width: fit-content;
  min-width: 20rem;
  user-select: none;
  font-size: medium;
}
::ng-deep .weekday .day .mat-raised-button {
  padding: 0;
  min-width: 3.5rem;
}
::ng-deep .weekday .day .mat-raised-button .mat-button-wrapper {
  display: flex;
  flex-direction: column;
  border-radius: inherit;
  width: 100%;
}
