.container {
  width: 81vw;
  height: fit-content;
  min-height: 100vh;
  background-color: #eaeff2;
  margin-left: 0;
  padding: 2%;
  display: flex;
  justify-content: center;
  .container2 {
    display: flex;
    flex-direction: column;
    background-color: #f9f9fa;
    border-radius: 5px;
    height: fit-content;
    width: 100%;
    min-height: 93vh;
    .title {
      width: 100%;
      height: 2rem;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      background-color: #36bb7c;
      span {
        font-size: medium;
        font-weight: 500;
        color: #ffffff;
        display: flex;
        margin: auto;
        height: 100%;
        align-items: center;
        width: 98%;
      }
      mat-tab-group {
        min-height: 100%;
        padding-left: 2%;
        padding-right: 2%;
      }
    }

    .description {
      display: flex;
      flex-direction: column;
      padding: 0.75rem;
      gap: 0.75rem;
      font-size: medium;
      font-weight: 500;
      color: #6b6b6b;
      span {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        mat-icon {
          color: #36bb7c;
        }
      }
    }
    .content {
      display: flex;
      height: fit-content;
      flex: 1;
      padding: 1.5%;
      padding-top: 0 !important;
      mat-card {
        width: 100%;
        mat-card-content {
          width: 100%;
          min-height: 80px;
          background-color: rgba(234, 242, 234, 0.53);
          .no-available-slots {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding-top: 3%;
            span {
              font-weight: 500;
              font-size: x-large;
            }
            .image {
              height: 300px;
              width: fit-content;
            }
          }
        }
      }
      .container-3 {
        padding-top: 1rem;
        position: relative;
        mat-card {
          display: flex;
          flex-direction: column;
          gap: 1rem;
          width: 85%;
          height: fit-content;
          margin: auto;
          mat-card-content {
            display: flex;
            height: 5rem;
            background-color: #ffffff;
            border: 1px solid #e3dede;
            padding: 1.5rem;
            align-items: center;
            div {
              display: flex;
              gap: 1rem;
              width: 40%;
              .day {
                width: 50%;
              }
              .time {
                flex: 1;
              }
              mat-checkbox {
                display: flex;
                align-items: center;
              }
            }
          }
        }
        .select-all {
          padding-left: 6.8rem;
          padding-bottom: 2rem;
          font-weight: 500;
        }
        button {
          position: absolute;
          top: 1rem;
          right: 5.25rem;
          display: flex;
          gap: 1rem;
          background-color: #36bb7c;
          color: white;
        }
      }
      .booking-slot {
        padding: 3%;
        .slots-grid-container {
          margin-top: 3%;
          display: grid;
          grid-template-columns: repeat(5, 1fr);
          gap: 20px;
        }

        mat-card {
          mat-card-content {
            height: 2.5rem;
            width: 10rem;
            display: flex;
            border: 2px solid rgb(221, 212, 212);
            background-color: rgb(250, 248, 248);
            border-radius: 7px;
            span {
              font-size: medium;
              text-align: center;
              font-weight: 500;
              margin: auto;
            }
          }
          .selected-booking-slot {
            background-color: #23a669;
            color: rgb(255, 255, 255);
            border: 2px solid #23a669;
          }
          mat-card-content:hover {
            background-color: #23a669;
            color: white;
            border: 2px solid #23a669;
          }
        }
      }
    }
  }
}

::ng-deep .mat-checkbox-frame {
  border: 2px solid rgb(16, 140, 115);
}
