mat-card {
    margin: 2em auto;
    text-align: center;
  }
.login-frame
  {
    width: 400px;
    height: 400px;
  }
  .header{
    text-align: center;
    font-size: 25px;
    font-weight:500;
    padding-bottom: 20px;
  }
  .header .logo
  {
    width: 8%;
    height: 8%;
  }
  .full-width {
    width: 70%;
  }
  
  .button-row {
    padding-top: 5px;
  }
  
  .button-row a {
    margin-right: 8px;
    text-align: center;
  }
  
  .forget-password{
    padding-left: 0px;
  }
  
  .emailInput{
    padding-top: 10px;
  }
  
  .contentBody {
    padding: 60px 1rem;
    background :#1b6ca8;
    display: block;
  }
  
  .aLink{
    float: right;
    padding-right: 60px;
    text-decoration: none;
  }

  .register-option
  {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

.register-option .register
{
  background-color: #3E8DF3;
  color: white;
  margin: auto;
  padding-top: auto;
}

.register-option h1
{
  font-size: 15px;
  margin: auto;
}


