.register-frame
  {
    width: 500px;
    height: 600px;
  }

mat-card {
    width: 500px;
    margin: 2em auto;
    text-align: center;
    height: 450px;
  }
  
  .header{
    text-align: center;
    font-size: 25px;
    font-weight:500;
    margin-bottom: 5%;
  }

  .full-width {
    width: 90%;
  }
  
  .button-row {
    padding-top: 5px;
  }
  
  .button-row a {
    margin-right: 8px;
    text-align: center;
  }
  
  .forget-password{
    padding-left: 0px;
  }
  
  .emailInput{
    padding-top: 10px;
  }
  
  .contentBody {
    padding: 60px 1rem;
    background :#1b6ca8;
    display: block;
  }
  
  .aLink{
    float: right;
    padding-right: 60px;
    text-decoration: none;
  }
  
  .button-field
  {
      display: flex;
      gap: 20px;
      justify-content: center;
      margin-bottom: 15px;
  }

  .verify
  {
    border: 3px solid rgb(12, 124, 171);
    margin-left: 2%;
    margin-bottom: 1%;
    color: rgb(12, 124, 171);  
  }