<div class="register-frame">
  <mat-card>
    <mat-card-content>
      <div class="header">
        REGISTER YOUR ACCOUNT 
      </div>

      <form name="registerForm" [formGroup]="registerForm">

        <!-- fullname -->
        <div>
          <mat-form-field class ='full-width' appearance="outline">
            <mat-label>Full Name</mat-label>
            <input
              formControlName="fullName"
              matInput
              placeholder="Enter full name" required
            />
              <!-- <mat-error *ngIf="fullName!.errors?.['required']"> 
                Full Name is required
              </mat-error> -->
          </mat-form-field>
        </div>

        <!-- userName -->
        <div>
          <mat-form-field class ='full-width' appearance="outline">
            <mat-label>Username</mat-label>
            <input
              formControlName="userName"
              matInput
              placeholder="Enter username" required
            />
              <!-- <mat-error *ngIf="userName!.errors?.['required']"> 
                User Name is required
              </mat-error> -->
          </mat-form-field>
        </div>        

        <!-- address -->
        <div>
          <mat-form-field class ='full-width' appearance="outline">
            <mat-label>Address</mat-label>
            <input
              formControlName="address"
              matInput
              placeholder="Enter address" required
            />
            <!-- <mat-error *ngIf="address!.errors?.['required']"> 
              Address is required
            </mat-error> -->
          </mat-form-field>
        </div>

        <!-- gender -->
        <div style="margin-bottom: 3%;">
          <mat-radio-group aria-label="Select an option" formControlName="gender">
            <mat-radio-button value="male" style="margin-right: 5%">Male</mat-radio-button>
            <mat-radio-button value="female">Female</mat-radio-button>
          </mat-radio-group>
        </div>
        
        <!-- email account -->
        <div>
          <mat-form-field class ='full-width' appearance="outline">
            <mat-label>Email</mat-label>
            <input
              formControlName="email"
              matInput
              placeholder="Enter email address" required
            />
            <!-- <mat-error *ngIf="email!.errors?.['required']">Email is required</mat-error>
            <mat-error *ngIf="email!.errors?.['email']">Email is not valid</mat-error> -->
          </mat-form-field>
        </div>

        <!-- passworđ -->
        <div>
          <mat-form-field class = 'full-width' appearance="outline">
            <mat-label>Password</mat-label>
            <input formControlName="password" matInput [type]=" hide ? 'password' : 'text'" required />
            <button  mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide Password'"
            [attr.aria-pressed]="hide">
            <mat-icon>
                {{hide ? 'visibility_off' : 'visibility'}}
            </mat-icon>
            </button>
            <!-- <mat-error *ngIf="password!.errors?.['required']">
                Password is required
            </mat-error> -->
          </mat-form-field>
        </div>

        <div class="button-field">
          <button mat-raised-button color="primary" (click)="onRegister(registerForm)">Submit</button>
          <button mat-raised-button color="warn" (click) = "exit()" >Cancel</button>
        </div>
        
        <!-- verify -->
        <span style="font-weight: 500;">Already signup but not verify yet?</span>
        <div>
          <mat-form-field style="width: 70%; margin-right: 2%;" appearance="outline">
            <mat-label>Verification code</mat-label>
            <input 
            formControlName="verificationCode"
            matInput/>
          </mat-form-field>
          <button mat-raised-button class = 'verify' (click)="onConfirm()">Verify</button>
        </div>        

      </form>

    </mat-card-content>
  </mat-card>
</div>

