.active-calendar {
  width: 99%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: auto;
  background-color: white;
  border-radius: 10px;
  user-select: none;
  .close-icon {
    font-size: 30px;
    color: #24931e;
    margin-left: auto;
    cursor: pointer;
  }
  .header {
    height: 10%;
    display: flex;
    align-items: center;
    .dayview {
      font-size: x-large;
      font-weight: 500;
      color: #04a158;
    }
  }
  .calendar-view {
    display: flex;
    flex-direction: column;
    height: 90%;
    .description {
      height: 5%;
      display: flex;
      gap: 3rem;
      align-items: center;
      padding-left: 1.5%;
      padding-right: 1.5%;
      padding-top: 1%;
      padding-bottom: 1%;
      .circle-icon {
        display: inline-block;
        width: 15px;
        height: 15px;
        border-radius: 50%;
      }
      .morning {
        background-color: #eed600;
      }
      .book-resource {
        background-color: #005eca;
      }
      .afternoon {
        background-color: #f36529;
      }
      span {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-weight: 500;
      }
    }
    mwl-calendar-month-view {
      margin: auto;
      width: 97%;
      height: 100%;
      ::ng-deep .cal-month-view .cal-day-cell {
        min-height: 87px !important;
      }
      ::ng-deep .cal-day-badge {
        display: none;
      }
      ::ng-deep .cal-month-view .cal-header .cal-cell {
        font-weight: 500 !important;
        color: #0ca953;
      }
    }
    mwl-calendar-week-view {
      margin: auto;
      width: 97%;
      ::ng-deep mwl-calendar-week-view-event .cal-event {
        display: flex;
        mwl-calendar-event-title {
          font-size: medium;
          margin: auto;
          display: flex;
          overflow: hidden;
          span {
            margin: auto;
            overflow: hidden;
            text-overflow: ellipsis;
          }
        }
      }
    }
    mwl-calendar-day-view {
      margin: auto;
      width: 97%;
    }
  }
}
.sidenav {
  position: relative;
  z-index: 100;
  ::ng-deep .mat-drawer-container {
    z-index: 100;
  }
}
.mat-sidenav {
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  width: 20%; /* set the width to your desired value */
  display: flex;
  padding: 1%;
  padding-top: 0 !important;
  user-select: none;
  .close-icon {
    font-size: 30px;
    color: #24931e;
    margin-top: 10px;
    cursor: pointer;
  }
  .title {
    width: 100%;
    font-size: large;
    font-weight: 500;
    align-items: center;
    display: flex;
    span {
      margin: auto;
    }
  }
  .time {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    gap: 1rem;
    .time-data {
      display: flex;
      flex-direction: column;
      padding: 2%;
      font-size: medium;
      .time-element {
        display: flex;
        gap: 5%;
        .item1 {
          font-weight: 500;
        }
      }
    }
    .event {
      border: 1px solid #0926b5;
      border-radius: 5px;
      .time-title {
        display: flex;
        gap: 2.5%;
        color: #0926b5;
        font-weight: 500;
      }
    }
    .morning-work {
      border: 1px solid #bba818;
      border-radius: 5px;
      .time-title {
        display: flex;
        gap: 2.5%;
        color: #bba818;
        font-weight: 500;
      }
    }
    .afternoon-work {
      border: 1px solid #f36529;
      border-radius: 5px;
      .time-title {
        display: flex;
        gap: 2.5%;
        color: #f36529;
        font-weight: 500;
      }
    }
    .daily-work {
      border: 1px solid #f36529;
      border-radius: 5px;
      .time-title {
        display: flex;
        gap: 2.5%;
        color: #f36529;
        font-weight: 500;
      }
    }
  }
}
