<div class="create-schedule">
  <div class="header">
    <mat-card>
      <mat-card-content>
        <div class="header-title">
          CREATE YOUR WORKING SCHEDULE
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="create-schedule-form">
    <mat-card>
      <mat-card-content>
        <div class="form-content">
          <form name="createSchedule" [formGroup]="createScheduleForm">

            <div style="margin-top: 1%">
              <mat-form-field class ='form-element' appearance="outline">
                <mat-label>Title</mat-label>
                <input 
                  formControlName="name"
                  matInput
                  placeholder="Example: My November 2022 Schedule" 
                  required
                  name="name"
                />
                <mat-error *ngIf="name!.errors?.['required']"> Title is required </mat-error>
                <mat-error *ngIf="name!.errors?.['minlength']"> Title must be at least 5 characters long. </mat-error>
                <mat-error *ngIf="name!.errors?.['maxlength']"> Title must be less than 255 characters long. </mat-error>
              </mat-form-field>
            </div>
    
            <div>
              <mat-form-field class ='form-element' appearance="outline">
                <mat-label>Brief</mat-label>
                <input 
                  formControlName="brief" 
                  matInput
                  placeholder="Short decription about your schedule" 
                  required
                  name="brief"
                 />
                 <mat-error *ngIf="brief!.errors?.['required']"> Brief is required </mat-error>
                 <mat-error *ngIf="brief!.errors?.['minlength']"> Brief must be at least 5 characters long. </mat-error>
                 <mat-error *ngIf="brief!.errors?.['maxlength']"> Brief must be less than 255 characters long. </mat-error>
              </mat-form-field>
            </div> 

          </form>

          <div class="weekdays-list">
            <ul class="no-bullets">
              <li *ngFor="let day of weekdays; let i = index;">
                <div class="date-card">
                  <mat-card>
                    <mat-card-content>

                      <div class="date">
                        <mat-checkbox class="checkbox-date" 
                        (change)="onCheckBoxChecked($event, i)"
                        [checked]="checkList[i]"
                        >           
                        {{day}}
                        </mat-checkbox>
                        <div class="button-container">
                          <button mat-icon-button class = 'add' (click)="addMoreEvent(i, day)">
                            <mat-icon>add</mat-icon>
                          </button>
                          
                          <button mat-icon-button color="warn" class = 'remove' (click)="removeCurrentEvent(i,day)">
                            <mat-icon>delete</mat-icon>
                          </button>

                          <button mat-icon-button class = 'copy' [matMenuTriggerFor]="menu">
                            <mat-icon>filter_none</mat-icon>
                          </button>

                          <mat-menu 
                          #menu="matMenu" 
                          class = 'matMenuWeekDays'

                          >
                            Also apply times to:...
                            <ul class="no-bullets" style="display: flex; flex-direction: column; gap: 8px">
                              <li *ngFor="let date of weekdays; let k = index;">
                                <mat-checkbox 
                                (click)="$event.stopPropagation()"
                                #menuItems
                                [checked]="date == day && checkList[k]"
                                (change)="onCheckBoxCopy($event, k)"
                                >
                                  {{date}}
                                </mat-checkbox>
                              </li>
                            </ul>
                            <button mat-flat-button color="primary" style="width: 70%; margin: auto; border-radius: 10px;" (click)="copyEvents(i)">Apply</button>
                          </mat-menu>


                        </div>
                      </div>
  
                      <div class="time" *ngFor="let events of timeArray[i]; let j = index">
                        <div class="start-time">
                          <div>Start Time:</div>
                          <mat-form-field appearance="outline">
                            <mat-label>Input start time</mat-label>
                            <input type="time" 
                            [(ngModel)]="events.startTime"
                            matInput 
                            name="startTime" 
                            min="00:00" 
                            max="23:59"
                            (change)="onStartTimeChange($event, i, j)"
                            >
                         </mat-form-field>
                        </div>  
    
                        <div class="end-time">
                          <div>End Time:</div>
                          <mat-form-field appearance="outline">
                            <mat-label>Input end time</mat-label>
                            <input type="time"  
                            [(ngModel)]="events.endTime"                      
                            matInput name="endTime" 
                            min="00:00" 
                            max="23:59"    
                            (change)="onStartTimeChange($event, i, j)"             
                            >                           
                         </mat-form-field>
                        </div> 

                        <div class="time-title">
                          <mat-form-field style="width:210px" appearance="outline">
                            <mat-label>Time Title</mat-label>
                            <input 
                              matInput
                              placeholder="Daily Working" required
                              name="time-title"
                              [(ngModel)]="events.title"   
                            />                          
                          </mat-form-field>
                        </div>

                      </div>

                    </mat-card-content>
                  </mat-card>
                </div>
              </li>
            </ul>

            <div class="button-field">
              <button mat-flat-button (click)="addNewSchedule(createScheduleForm)" color="primary" [disabled]="createScheduleForm.invalid">Submit</button>
              <button mat-flat-button color="warn" >Cancel</button>
            </div>    
          </div>
        </div>

      </mat-card-content>
    </mat-card>
  </div>
</div>



