<!-- <div class="header">
    <button mat-raised-button class="modify-calendar" (click)="addMoreEventClick()">
        <mat-icon style="margin-right: 3%;">add</mat-icon>
        <span style="font-size: 15px;">Add Event</span>
    </button>



    <button mat-raised-button class="async-calendar" (click) = 'asyncGoogleCalendar()'>
        <mat-icon style="margin-right: 3%;">calendar_today</mat-icon>
        <span style="font-size: 15px;">Sync with Google Calendar</span>
    </button>

    <button mat-raised-button class="add-free-slot" (click)="addMoreEventClick()">
        <mat-icon style="margin-right: 3%;">add</mat-icon>
        <span style="font-size: 15px;">Add Free Slots</span>
    </button>
</div>

<div class="calendar">
    <div class="active-calendar">
        <mat-card>
            <mat-card-content>
                    <full-calendar
                    [options]='calendarOptions'>
                    </full-calendar>
            </mat-card-content>
        </mat-card>
    </div>

</div>

<div class="free-calendar">

    <mat-card>

      <mat-card-content>
        <div style="width: 100%; height: 100%; margin-top: 1%;">
            <div class="header-title">
                FREE-TIME SLOTS FOR BOOKING
              </div>
          <ul class="no-bullets">
            <li *ngFor="let slot of freeTimeScheduleSlots.listTimeWorkingDatas; let i = index;">
              <div class="element-card">
                <mat-card>
                  <mat-card-content>
                    <div class = 'slot'>
                      <div class = 'slot-day'>
                        {{slot.weekday}}
                      </div>

                      <div class ='slot-time-period'>
                        {{slot.startTime}} - {{slot.endTime}}
                      </div>
                    </div>
                  </mat-card-content>
                </mat-card>
              </div>

            </li>
          </ul>
        </div>
      </mat-card-content>
    </mat-card>
  </div>


<router-outlet></router-outlet> -->
<div class="container" (click)="toggleCloseNav()">
  <div class="active-calendar">
    <mwl-calendar-month-view [viewDate]="viewDate" [events]="events" (dayClicked)="onDayClicked($event.day)">
    </mwl-calendar-month-view>
  </div>
  <div class="sidenav">
    <mat-sidenav-container>
      <mat-sidenav #sidenav position="end" [opened]="isShowing">
        <div class='title'><span>Activities</span></div>
        <div class="time">
          <div class="time-data" *ngFor="let event of eventsRendered" [ngClass]="event.event ? 'event' : 'non-event' ">
            <span class="time-title">
              <mat-icon>event_available</mat-icon>
              {{event.title}}
            </span>
            <div class="time-element start">
              <span class="item1">Start</span>
              <span class="item2">{{event.startTime}}</span>
            </div>
            <div class="time-element end">
              <span class="item1">End</span>
              <span class="item2">{{event.endTime}}</span>
            </div>
          </div>
        </div>

      </mat-sidenav>
    </mat-sidenav-container>
  </div>
</div>