<div class="container">
  <div class="container2">
    <div class="filter">
      <div class="filter-by-time">

        <input type="text" placeholder="Type your email" [(ngModel)]="partnerEmail">

      </div>
      <!-- <div class="filter-by-hoster-name">
        <mat-form-field appearance="fill">
          <mat-select>
            <mat-option value="all-hoster">
              All Hosters
            </mat-option>
            <mat-option *ngFor="let eventHoster of eventHostersList" [value]="eventHoster.email">
              {{eventHoster.email}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->
    </div>
    <div class="events-grid-container">
      <div class="events-grid-item" *ngFor="let element of publicBookingSlots.timeDatas">
        <mat-card>
          <mat-card-content appMaterialElevation>
            <img src="https://res.cloudinary.com/dzri3e9wa/image/upload/v1684854218/event-image/public_event_vluu7p.jpg"
              alt="">
            <span class="date">
              <mat-icon style="color: #23a669;;">date_range</mat-icon>
              {{publicBookingSlots.day}}
            </span>
            <span class="event-name">
              {{element.freetimeType}}
            </span>
            <span class="time">
              <mat-icon style="color:#23a669;">alarm</mat-icon>
              {{element.startTime}} - {{element.endTime}}
            </span>
            <span class="button-join">
              <button mat-raised-button (click)="onClickJoinPublicEventBookingSlot(element)"> BOOK </button>

            </span>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>