.container {
  width: 100vw;
  min-height: 100vh;
  height: -moz-fit-content;
  height: fit-content;
  position: relative;
  display: flex;
  background-color: #fbfcfd;
  // background-image: linear-gradient(to right, #8aeed3, #f0f0f0);
  /* margin-left: 0; */
  padding: 1%;
  .container2 {
    .title {
      width: 100%;
      height: 2rem;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      background-color: #f3efef;
      span {
        font-size: medium;
        font-weight: 500;
        color: #ffffff;
        display: flex;
        margin: auto;
        height: 100%;
        align-items: center;
        width: 98%;
      }
    }
    display: flex;
    flex-direction: column;
    background-color: #f0f4f2;
    border-radius: 5px;
    height: fit-content;
    width: 100%;
    min-height: 95vh;
    .title {
      width: 100%;
      height: 2rem;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      background-color: #36bb7c;
      span {
        font-size: medium;
        font-weight: 500;
        color: #ffffff;
        display: flex;
        margin: auto;
        height: 100%;
        align-items: center;
        width: 98%;
      }
    }
    .filter {
      height: fit-content;
      display: flex;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
      gap: 9.75rem;
      mat-form-field {
        width: 15rem;
      }
      margin-bottom: 1%;
    }
    .events-grid-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-auto-rows: calc(20vw);
      gap: 20px;
      width: 100%;
      height: fit-content;
      border-radius: 0.5rem;
      padding: 20px;
      padding-top: 0 !important;
      .events-grid-item {
        height: 100%;
        mat-card {
          mat-card-content {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
            height: 100%;
            background-color: white;
            border-radius: 8px;
            border: 1px solid #e4dcd9;
            img {
              height: 60%;
              width: 100%;
              border-top-right-radius: 8px;
              border-top-left-radius: 8px;
            }
            span {
              display: flex;
              align-items: center;
              gap: 1%;
              padding-left: 0.5rem;
            }
            .date {
              font-size: medium;
              text-transform: uppercase;
            }
            .event-name {
              font-size: large;
              font-weight: 500;
              text-transform: uppercase;
            }
            .button-join {
              font-weight: 500;

              display: flex;
              justify-content: end;
              padding-right: 1rem !important;
              cursor: pointer;
              font-size: medium;
              position: relative;
              .book-button {
                background-color: #086d3e;
                color: white;
                position: absolute;
              }
              .participating-button {
                color: #036d28;
                background-color: #99d299;
              }
            }
          }
        }
      }
    }
  }
}

input {
  border-radius: 5px;
  border: 2px solid rgb(221, 212, 212);
  padding-left: 2%;
  padding-right: 2%;
  margin-bottom: 2%;
  margin: auto;
  height: 2.5rem;
  width: 17rem;
}
