.container {
  height: 80%;
}
.error {
  padding: 20px;
  height: 40%;
  user-select: none;
  border: 2px solid black;
  display: flex;
  justify-content: space-around;
  margin-top: 10%;
}
.status-code {
  font-size: 80px;
  font-weight: 500;
}
