<div class="container">
    <div class="container2">
        <div class="title">
            <span>
                Public Sharing Slots
            </span>
        </div>
        <div class="filter">
            <div class="filter-by-title">
                <mat-form-field appearance="fill">
                    <mat-select [formControl]="selecteFreeTimeType" (selectionChange)="onFreeTimeTypeSelectChange()">
                        <mat-option *ngFor="let freeTimeType of listFreeTimeType" [value]="freeTimeType">
                            {{freeTimeType}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="email-textfield">
                <mat-form-field appearance="fill">
                    <mat-chip-list #chipList>
                        <mat-chip *ngFor="let email of emails" [removable]="true" (removed)="removeChip(email)">
                            {{ email }}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                    <input placeholder="Enter your partner's email ... "
                        (keydown.enter)="addChip(chipInput.value); chipInput.value=''" #chipInput>
                </mat-form-field>
            </div>

            <button mat-raised-button (click)="onSharingSlotClick()">
                <mat-icon>public</mat-icon>
                <span>Share Slots</span>
            </button>
        </div>
        <div class="select-all">
            <mat-checkbox [(ngModel)]="allSelectedSlotFlag" (change)="selectAllSharingSlot()">Select All</mat-checkbox>
        </div>
        <div class="container-3">
            <mat-card>
                <mat-card-content *ngFor="let slot of renderedPublicSlots">
                    <div>
                        <mat-checkbox [(ngModel)]="slot.selectFlag"></mat-checkbox>
                        <span class="day">
                            {{slot.dayString}}
                        </span>
                        <span class="time">
                            {{slot.timeDatas[0].startTime}} - {{slot.timeDatas[0].endTime}}
                        </span>
                    </div>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>