.container {
  width: 81vw;
  height: fit-content;
  min-height: 100vh;
  background-color: #eaeff2;
  margin-left: 0;
  padding: 2%;
  display: flex;
  justify-content: center;
  .container2 {
    display: flex;
    flex-direction: column;
    background-color: #f9f9fa;
    border-radius: 5px;
    height: fit-content;
    width: 100%;
    min-height: 93vh;
    padding-bottom: 2rem;
    .title {
      width: 100%;
      height: 2rem;
      border-top-right-radius: 5px;
      border-top-left-radius: 5px;
      background-color: #36bb7c;
      span {
        font-size: medium;
        font-weight: 500;
        color: #ffffff;
        display: flex;
        margin: auto;
        height: 100%;
        align-items: center;
        width: 98%;
      }
    }
    .filter {
      height: fit-content;
      display: flex;
      padding-left: 20px;
      padding-right: 20px;
      padding-top: 20px;
      justify-content: space-between;
      .filter-by-title {
        mat-form-field {
          width: 18rem;
        }
        ::ng-deep .mat-form-field-underline {
          display: none;
        }
        ::ng-deep .mat-form-field-appearance-fill {
          .mat-form-field-flex {
            background-color: rgb(255, 255, 255);
            border-radius: 5px;
            border: 1px solid rgb(221, 212, 212);
            padding-top: 0;
          }
        }
        ::ng-deep .mat-select-trigger {
          height: 2em;
        }
        ::ng-deep .mat-form-field-appearance-fill .mat-form-field-infix {
          padding-top: 0;
        }
        ::ng-deep .mat-form-field-appearance-fill .mat-select-arrow-wrapper {
          transform: translateY(0);
        }
      }

      .email-textfield {
        mat-form-field {
          height: fit-content;
          width: 35rem;
          border-radius: 5px;
          background-color: rgb(255, 255, 255);
        }
        ::ng-deep .mat-form-field-infix {
          border-top: 0 !important;
        }
        ::ng-deep .mat-form-field-underline {
          display: none;
        }
        ::ng-deep .mat-form-field-flex {
          background-color: white;
        }
        ::ng-deep .mat-form-field-wrapper {
          border-radius: 5px;
          background-color: rgb(255, 255, 255);
          padding-bottom: 0;
        }
        input {
          border: 1px solid white;
          width: 20rem;
          height: 2.25rem;
          padding-left: 2px;
          padding-left: 1rem;
        }
        // ::ng-deep .mat-form-field-appearance-fill {
        //   .mat-form-field-flex {
        //     background-color: rgb(255, 255, 255);
        //     border-radius: 5px;
        //     border: 1px solid rgb(221, 212, 212);
        //     padding-top: 0;
        //   }
        // }
        // input {
        //   border-radius: 5px;
        //   border: 1px solid rgb(221, 212, 212);
        //   padding-left: 2%;
        //   padding-right: 2%;
        //   margin: auto;
        //   height: 3.25rem;
        //   width: 35rem;
        // }
      }

      button {
        color: white;
        background-color: #36bb7c;
        height: 3.25rem;
        width: 10rem;
      }
    }
    .select-all {
      padding-left: 7rem;
      padding-bottom: 1rem;
      font-weight: 500;
    }
    .container-3 {
      mat-card {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        width: 85%;
        height: fit-content;
        margin: auto;
        mat-card-content {
          display: flex;
          height: 5rem;
          background-color: #ffffff;
          border: 1px solid #e3dede;
          padding: 1.5rem;
          align-items: center;
          div {
            display: flex;
            gap: 1rem;
            width: 40%;
            .day {
              width: 50%;
            }
            .time {
              flex: 1;
            }
            mat-checkbox {
              display: flex;
              align-items: center;
            }
          }
        }
      }
    }
  }
}

::ng-deep .mat-checkbox-frame {
  border: 2px solid rgb(16, 140, 115);
}
