.event-detail {
  user-select: none;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  overflow-y: auto;
  .close-icon {
    font-size: 30px;
    color: #24931e;
    margin-left: auto;
    cursor: pointer;
  }
  .date {
    font-size: large;
    font-weight: 500;
    text-transform: uppercase;
    color: rgb(3, 119, 61);
  }
  .title {
    font-size: x-large;
    font-weight: 500;
  }
  .description {
    font-size: medium;
  }
  .line {
    width: 100%;
    height: 0.1px;
    background-color: #bbb3b3;
  }
  .with-icon {
    display: flex;
    align-items: center;
    gap: 1rem;
    span {
      font-size: medium;
    }
    mat-icon {
      color: rgb(3, 119, 61);
    }
  }
  .room {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    .pending {
      border: 1px solid #ffd86f;
      border-radius: 5px;
      padding: 0.5%;
      padding-left: 2%;
      padding-right: 2%;
      color: #b69812;
      background-color: #ffefc3;
    }
    .success {
      border: 1px solid #007463;
      border-radius: 5px;
      padding: 0.5%;
      padding-left: 2%;
      padding-right: 2%;
      color: #046638;
      background-color: #c3f0e2;
    }
    .cancel {
      border: 1px solid #ffd86f;
      border-radius: 5px;
      padding: 0.5%;
      padding-left: 2%;
      padding-right: 2%;
      color: #66042b;
      background-color: #f0c3d0;
    }
  }

  .email-textfield {
    mat-form-field {
      height: fit-content;
      width: 35rem;
      border-radius: 5px;
      background-color: rgb(255, 255, 255);
    }
    ::ng-deep .mat-form-field-infix {
      border-top: 0 !important;
    }
    ::ng-deep .mat-form-field-underline {
      display: none;
    }
    ::ng-deep .mat-form-field-flex {
      background-color: #f7f7f7;
    }
    ::ng-deep .mat-form-field-wrapper {
      border-radius: 5px;
      background-color: rgb(255, 255, 255);
      padding-bottom: 0;
    }
  }

  .cancel-event {
    input {
      border: 1px solid white;
      border-radius: 5px;
      background-color: rgb(248, 243, 243);
      width: 20rem;
      height: 2.25rem;
      padding-left: 2px;
      padding-left: 1rem;
    }
  }

  .button-class {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 1rem;
    button {
      display: flex;
      color: white;
      ::ng-deep .mat-button-wrapper {
        display: flex;
        align-items: center;
        gap: 0.25rem;
      }
    }
    button:disabled {
      opacity: 0.5;
    }
    .reschedule-button {
      background-color: rgb(43, 2, 153);
    }
    .share-button {
      background-color: rgb(14, 146, 104);
    }
    .cancel-button {
      background-color: rgb(149, 38, 11);
    }
    .join-button {
      background-color: #0cbb67;
    }
    .participating-button {
      color: #036d28;
      background-color: #99d299;
    }
  }
}

::ng-deep .mat-menu-user-list {
  position: absolute;
  bottom: 12rem;
  left: 5rem;
  width: fit-content;
  min-width: 20rem;
  height: fit-content;
  display: flex;
  flex-direction: column;
  user-select: none;
  .mat-menu-content {
    padding: 10px;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 0.75rem;
  }
}

::ng-deep .mat-menu-panel {
  min-height: 42px !important;
}
