<div class="sidenav-wrapper">
  <mat-sidenav-container autosize>
    <mat-sidenav #sidenav mode="side" opened="isExpanded" (mouseenter)="mouseenter()" (mouseleave)="mouseleave()">
      <mat-nav-list>

        <mat-list-item class="sidenav-web-logo">
          <div class='web-title' (click)="redirectHomepage()">
            <img src='assets/images/popup-logo.png' class='nav-web-logo'>
            <h1>TIMECHOICE</h1>
          </div>
        </mat-list-item>

        <mat-list-item [routerLink]="'admin-dashboard'" *ngIf="role == 'ROLE_ADMIN'">
          <mat-icon mat-list-icon> beenhere</mat-icon>
          <span *ngIf="isExpanded" class="menu-item">Admin Dashboard</span>
        </mat-list-item>

        <mat-list-item [routerLink]="'organization-overview'" class="panel-item">
          <mat-icon mat-list-icon>desktop_windows</mat-icon>
          <span *ngIf="isExpanded" class="organization-item">Overview</span>
        </mat-list-item>

        <mat-list-item [routerLink]="'employee'">
          <mat-icon mat-list-icon>people_outline</mat-icon>
          <span *ngIf="isExpanded" class="organization-item">Employee</span>
        </mat-list-item>

        <mat-list-item [routerLink]="'device'">
          <mat-icon mat-list-icon>devices</mat-icon>
          <span *ngIf="isExpanded" class="organization-item">Room and Devices</span>
        </mat-list-item>

        <mat-list-item [routerLink]="'active-calendar'">
          <mat-icon mat-list-icon>event_available</mat-icon>
          <span *ngIf="isExpanded" class="menu-item">Main Calendar</span>
        </mat-list-item>

        <!-- <mat-expansion-panel *ngIf="role == 'ROLE_BUSINESS_USER' || role == 'ROLE_BASIC_USER'">
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-list-item class="panel-item">
                  <span class="organization-item">Business</span>
                  <mat-icon mat-list-icon>business_center</mat-icon>
                </mat-list-item>
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel> -->

        <mat-list-item [routerLink]="'booking-resource'">
          <mat-icon mat-list-icon>schedule</mat-icon>
          <span *ngIf="isExpanded" class="organization-item">Booking Dashboard</span>
        </mat-list-item>

        <mat-list-item [routerLink]="'company-events'">
          <mat-icon mat-list-icon>layers</mat-icon>
          <span *ngIf="isExpanded" class="organization-item">Organization Events</span>
        </mat-list-item>

        <mat-list-item [routerLink]="'public-sharing-slots'">
          <mat-icon mat-list-icon>public-events</mat-icon>
          <span *ngIf="isExpanded" class="organization-item">Public Sharing Slots</span>
        </mat-list-item>

        <mat-list-item (mwlClick)="toggleNotificationSidenav(); removeBadge()">
          <mat-icon mat-list-icon>notifications</mat-icon>
          <span *ngIf="isExpanded" class="organization-item" [matBadge]="badgeContent" matBadgeSize="medium"
            matBadgeColor="warn">Notifications</span>
        </mat-list-item>

        <!-- <mat-list-item [routerLink]="'approve-dashboard'">
            <mat-icon mat-list-icon>assignment_turned_in</mat-icon>
            <span *ngIf="isExpanded" class="organization-item">Approve Dashboard</span>
          </mat-list-item> -->

        <!-- <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                <mat-list-item>
                  <span class="menu-item">Calendar</span>
                  <mat-icon mat-list-icon>calendar_today</mat-icon>
                </mat-list-item>
              </mat-panel-title>
            </mat-expansion-panel-header>
          </mat-expansion-panel> -->

        <div class="profile" (click)="profileMouseEnter()" [mat-menu-trigger-for]="menu">
          <mat-list-item style="display: flex; flex-direction: row;">
            <mat-icon mat-list-icon>account_circle</mat-icon>
            <span *ngIf="isExpanded" class="menu-item" style="display: flex; flex-direction: column" [(ngModel)]="user"
              name="user" ngDefaultControl>
              <span style="font-size: 15px; font-weight:500;">{{user.fullname}}</span>
              <span style="font-size: 11px">{{user.email}}</span>
            </span>
          </mat-list-item>
        </div>

        <mat-menu #menu="matMenu" style="border-radius: 10px;">
          <button mat-menu-item [routerLink]="'user-profile'">Your Profile</button>
          <button mat-menu-item>Change Password</button>
          <button mat-menu-item>Log Out</button>
        </mat-menu>

      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="notification-container" *ngIf="isShowingNotificationSidenav">
        <span class="title">Notifications</span>
        <div>
          <mat-card *ngIf="notificationList.length > 0">
            <mat-card-content *ngFor="let notificationContent of notificationList"
              (click)="onNotificationClick(notificationContent)">
              <div class="image">
                <img src="{{notificationContent.notifyImageLink}}" alt="">
              </div>
              <div class="content">
                <span style="font-weight: 500; text-transform: uppercase;">
                  {{notificationContent.notifyDate}}
                </span>
                <span>
                  {{notificationContent.title}}
                </span>
              </div>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="router-outlet-container">
        <router-outlet>
        </router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>