<div class="modify-schedule" style="width: 420px; height: 70%;">
    <span style="margin: auto">
        <h2 mat-dialog-title style="width: 100%; text-align: center;">{{modalTitle}}</h2>
    </span>
    <div>
        <mat-card>
            <mat-card-content>

                <!-- <div class = 'date' style="margin-bottom: 2%; margin-top: 2%;">
                    <mat-form-field color="accent" appearance="fill" style="width: 100%">
                        <mat-label>Date Select</mat-label>
                        <input matInput [matDatepicker]="picker"/>
                        <mat-hint>MM/DD/YYYY</mat-hint>
                        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                    </mat-form-field>
                </div> -->

                <div>
                    <mat-form-field class='date' appearance="outline">
                      <mat-label>Date</mat-label>
                      <input matInput name="date" [(ngModel)]="date"/> 
                    </mat-form-field>
                </div>


            </mat-card-content>
        </mat-card>
    </div>
  
    <div class="time" style="display: flex; flex-direction: row; justify-content: space-between;">

        <!-- <div class="start-time">
          <mat-form-field appearance="outline">
            <mat-label>Start time</mat-label>
            <input type="time" 
            matInput 
            name="startTime" 
            min="00:00" 
            max="23:59"
            >
         </mat-form-field>
        </div>   -->

        <!-- <div class="end-time">
          <mat-form-field appearance="outline">
            <mat-label>End time</mat-label>
            <input type="time"                    
            matInput name="endTime" 
            min="00:00" 
            max="23:59"              
            >                           
         </mat-form-field>
        </div>  -->

        <div>
            <mat-form-field class='start' appearance="outline">
              <mat-label>Start Time</mat-label>
              <input matInput name="start" [(ngModel)]="startTime"/> 
            </mat-form-field>
          </div>

          <div>
            <mat-form-field class='end' appearance="outline">
              <mat-label>End Time</mat-label>
              <input matInput name="end" [(ngModel)]="endTime"/> 
            </mat-form-field>
          </div>

    </div>

    <div class="time-title">
        <mat-form-field style="width:100%" appearance="outline">
          <mat-label>Event Title</mat-label>
          <input 
            matInput
            placeholder="Daily Working" required
            name="time-title" 
            [(ngModel)]="title"
          />                          
        </mat-form-field>
    </div>

    <div class="button-field" style="display: flex; flex-direction: row; gap: 10px; justify-content: center;">
        <button mat-flat-button color="primary" (click)="modifyEvent()">Submit</button>
    </div> 

</div>
  

  
  