<div class="container">
    <!-- <div class="overlay" [ngClass]="{ 'overlay-active' : isOverlay}"></div> -->
    <div class="container-2">
        <div class="title">
            <span>
                Organization Users
            </span>
        </div>
        <div class="button">
            <div class="add-employee-button" (click)="toggleSidenav()">
                <button mat-raised-button>
                    <span style="display: flex;">
                        <mat-icon style="color: white; margin: auto">add</mat-icon>
                        Employee
                    </span>
                </button>
            </div>
            <div class="add-default-calendar-button" (click)="toggleSidenavDefaultCalendar()">
                <button mat-raised-button>
                    <span style="display: flex;">
                        <mat-icon style="color: white; margin: auto">add</mat-icon>
                        Assign Calendar
                    </span>
                </button>
            </div>
        </div>
        <div class="employee">
            <div class="mat-elevation-z1">

                <div class='filter'>
                    <div style="margin: auto 0 auto 0">
                        <mat-menu #menu="matMenu">
                            <button mat-menu-item>All</button>
                            <button mat-menu-item>Latest Created</button>
                        </mat-menu>
                    </div>
                </div>
                <div class="employee-table">
                    <div>
                        <mat-paginator #matPaginator [length]="10" [pageSizeOptions]="[10]" aria-label="Select page">
                        </mat-paginator>
                    </div>
                    <table mat-table [dataSource]="dataSource" matSort style="width: 100%; border-radius: 10px;">
                        <!-- Checkbox Column -->
                        <ng-container matColumnDef="select" class="select">
                            <th mat-header-cell *matHeaderCellDef>
                                <mat-checkbox>
                                </mat-checkbox>
                            </th>
                            <td mat-cell *matCellDef="let row">
                                <mat-checkbox>
                                </mat-checkbox>
                            </td>
                        </ng-container>

                        <!-- Name Column -->
                        <ng-container matColumnDef="fullname">
                            <th mat-header-cell *matHeaderCellDef>Full Name</th>
                            <td mat-cell *matCellDef="let element">{{element.fullname}}</td>
                        </ng-container>

                        <!-- Email Column -->
                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef>Email</th>
                            <td mat-cell *matCellDef="let element">{{element.email}}</td>
                        </ng-container>

                        <ng-container matColumnDef="address">
                            <th mat-header-cell *matHeaderCellDef>Address</th>
                            <td mat-cell *matCellDef="let element">{{element.address}}</td>
                        </ng-container>

                        <ng-container matColumnDef="imagePath">
                            <th mat-header-cell *matHeaderCellDef>Image</th>
                            <td mat-cell *matCellDef="let element" style="width: 8%">
                                <img src={{element.imagePath}} class="profile-image">
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="effectiveDate">
                            <th mat-header-cell *matHeaderCellDef>Date Activated</th>
                            <td mat-cell *matCellDef="let element">{{element.effectiveDate}}</td>
                        </ng-container>

                        <ng-container matColumnDef="managerFlag">
                            <th mat-header-cell *matHeaderCellDef>Manager</th>
                            <td mat-cell *matCellDef="let element">
                                <mat-icon style="color: rgb(16, 143, 16);"
                                    *ngIf="element.managerFlag == true">check_circle</mat-icon>
                                <mat-icon style="color: rgb(210, 12, 12);"
                                    *ngIf="!element.managerFlag == true">cancel</mat-icon>
                            </td>
                        </ng-container>

                        <ng-container matColumnDef="eventHosterFlag">
                            <th mat-header-cell *matHeaderCellDef>Event Hoster</th>
                            <td mat-cell *matCellDef="let element">
                                <mat-icon style="color: rgb(16, 143, 16);"
                                    *ngIf="element.eventHosterFlag == true">check_circle</mat-icon>
                                <mat-icon style="color: rgb(210, 12, 12);"
                                    *ngIf="!element.eventHosterFlag == true">cancel</mat-icon>
                            </td>
                        </ng-container>

                        <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header">
                        </tr>
                        <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="table-row"></tr>

                    </table>
                </div>

            </div>
        </div>
    </div>

    <div class="sidenav">
        <mat-sidenav-container>
            <mat-sidenav #sidenav position="end" [opened]="isShowing">
                <div class="template">
                    <span (click)="downloadExcel()">
                        Download List Employee Template Here
                    </span>
                </div>
                <div class="list-employee">
                    <label for="name">Import Your List Employee File here</label>
                    <div class="import-button">
                        <button mat-raised-button (click)="fileInput.click()">
                            <span>Import</span>
                        </button>
                    </div>
                    <input type="file" (change)="importFile()" #fileInput style="display:none">
                    <input type="text" [(ngModel)]="fileName" placeholder="File name" [disabled]="true"
                        style="user-select: none;">
                </div>
                <div class="add-button">
                    <button mat-raised-button style="background-color: #0e9974; color: white;"
                        (click)="onAddEmployee()">
                        <span>Add</span>
                    </button>
                    <button mat-raised-button type="submit" style="background-color: #e60303; color: white;"
                        (click)="toggleSidenav()">
                        Cancel
                    </button>
                </div>
            </mat-sidenav>
        </mat-sidenav-container>
    </div>
    <div class="sidenav">
        <mat-sidenav-container>
            <mat-sidenav #sidenav position="end" [opened]="isShowingAddDefault">
                <div class="default-calendar">
                    <div class="custom-textfield">
                        <label for="name">Enter Title</label>
                        <input type="text" id="name" placeholder="ex: Calendar July 2023" [(ngModel)]="title">
                    </div>
                    <div class="custom-textfield">
                        <label for="brief">Enter Brief</label>
                        <input type="text" id="brief" placeholder="ex: This Calendar is set for July 2023"
                            [(ngModel)]="brief">
                    </div>

                    <div class="start-time">
                        <span>Start Time</span>
                        <mat-form-field appearance="outline">
                            <input type="time" [(ngModel)]="startTime" matInput name="startTime" min="00:00"
                                max="23:59">
                        </mat-form-field>
                    </div>

                    <div class="start-time">
                        <span>End Time</span>
                        <mat-form-field appearance="outline">
                            <input type="time" [(ngModel)]="endTime" matInput name="endTime" min="00:00" max="23:59">
                        </mat-form-field>
                    </div>

                    <div class="add-button">
                        <button mat-raised-button style="background-color: #0e9974; color: white;"
                            (click)="onAddDefaultCalendar()">
                            <span>Add</span>
                        </button>
                        <button mat-raised-button type="submit" style="background-color: #e60303; color: white;"
                            (click)="toggleSidenavDefaultCalendar()">
                            Cancel
                        </button>
                    </div>

                </div>
            </mat-sidenav>
        </mat-sidenav-container>
    </div>
</div>